

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<h2>About</h2>

<address>
    <strong>Author:</strong> <a href="mailto:michal.boniakowski11@gamil.com">michal.boniakowski11@gamil.com</a>
</address>